@font-face {
  font-family: "Nunito Sans";
  src: url("/NunitoSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font: "Nunito Sans", sans-serif;
  --primary-color: #191e3e;
  --secondary-color: #2a2baa;
  --color-text: #fff;
  --color-correct: #129946;
  --color-incorrect: #ff5353;
}

@layer base {
  body {
    font-family: var(--font);
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select,
  datalist {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--primary-color);
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 25rem;
  padding: 30px 30px 10px;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.quiz-header {
  background-color: var(--primary-color);
  text-align: center;
  padding: 10px 15px;
  border-radius: 10px;
}

.quiz-title {
  color: var(--color-text);
}

.quiz-category {
  font-style: italic;
  font-size: 0.875rem;
  background-color: var(--secondary-color);
  color: var(--color-text);
  border-radius: 50px;
  padding: 2px 10px;
  font-weight: 600;
}

.question-section {
  margin-bottom: 10px;
}

.question-container {
  margin: 20px 0;
}

.question-text {
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
  text-wrap: balance;
  color: var(--color-text);
}

.answer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  gap: 10px;
}

.answer-button {
  width: 15.625rem;
  cursor: pointer;
  background-color: #191e3e;
  color: var(--color-text);
  border: none;
  padding: 5px 0;
  border-radius: 5px;
}

.correct,
.correct:hover {
  background-color: var(--color-correct);
  border-color: var(--color-correct);
}

.incorrect,
.incorrect:hover {
  background-color: var(--color-incorrect);
  border-color: var(--color-incorrect);
}

.quiz-footer {
  text-align: center;
}

.score-text {
  margin-bottom: 15px;
  color: var(--color-text);
  font-weight: 600;
}

.reset-button {
  display: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--color-text);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.final-results {
  font-size: 1.125rem;
  color: var(--color-text);
  font-weight: 600;
}

/* Clases de utilidad */

.hidden {
  display: none;
}

.show {
  display: block;
}
